  <!--
  -we need, in basket.component.html (below the html table we created where we displayed what was added to the basket) to show "total" calculations (products bill + shipping cost).
  -we will create for that a component (shared/components/order-totals.component.ts), then we will call it in the basket.component.html using <app-order-totals></app-order-totals>
  -and we should create an interface (angular model) for that in shared/models/basket called IBasketTotals.

  anyway, we are going to show these "total" calculations in basket component and checkout component and ...... 
  (in multiple components, not only use it in the basket html page !)
  so we will not subscribe to it directly in basket.service.ts, 
  we will store the returned observable from the https response in the basketTotalsSource special observable property in basket.service.ts.
  and read it in here from the public property basketTotals in basket.servie.ts,
  (again, remember the explanation in basket.service.ts for the BehaviousSubject (special observable) and the normal observable)
  (remember that in any html page, we extract value from an observable using "| async")

  use for that the injected basket.service.ts, and read the basketTotal$ from it.
  
  please go to basket.service.ts and read a lot of notes about obsevables, subscribing to it, .... and how we stored a basket totals calculaions in basketTotals$ there !
  -->




<div class="bg-light px-4 py-3 text-uppercase font-weight-bold">
    Order Summary
</div>
<div class="p-4">
    <p class="font-italic mb-4">Shipping costs will be added depending on choices made during checkout</p>
    <ul class="list-unstyled mb-4" *ngIf="(userOrderTotals$ | async) as userOrderTotals">
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Order subtotal</strong>
            <strong>{{userOrderTotals.subtotal | currency}}</strong> <!-- "| currency" to format the number into a currency format -->
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Shipping and handling</strong>
            <strong>{{userOrderTotals.shipping | currency}}</strong>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Total</strong>
            <strong>{{userOrderTotals.total | currency}}</strong>
        </li>
    </ul>
</div>
