<div class="container mt-5 mb-5">
    <div class="row">

        <div class="col-8">
            <app-stepper [linearModeSelected]="true" #MyAppStepper>
            <!-- 
            add "template refrence variable" to this input, using the #, and call it "appStepper"
            so we can send it to the checkout-review.component.ts in the <app-checkout-review> tag below.
            (checkout-review.component.ts has an @Input proerty of type cdkStepper. Please read th notes there.) 
            -->
            <!-- 
            linearModeSelected is an property in stepper.component.ts,
            and we set its value here so that it sets there the "linear" property which is not written 
            in checkout.component.ts but it comes from the
            inherited component CdkStepper (remember stepper.component.ts).
            so we cannot go to any next step (wherever the cdkStepperNext directive is existed in a button, such as the one 
            in the "go to delivery" button in checkout-address.component.ts) (or by clicking on the label tab, remember the [disabled]="true" in the button in stepper.component.html)
            unless the validations of each form used below (addressForm, ...) identified in checkout.component.ts is valid ! 
            -->
                <cdk-step [label]="'Address'" [completed]="(checkoutForm.get('addressForm')).valid"> 
                <!-- "label" and "completed" are another @Input() properties in stepper.component,ts, but not written ! those are inherited from the component CdkStepper -->
                <!-- "label" is to display "Address" in the button -->
                <!-- "completed" is to mark the completness of this cdk-step with true or false according to the validation we wrote in the chekout.component.ts in checkoutForm.addressForm-->
                <!-- please take a look on where those "label" and "completed" are exised in stepper.component.html -->   
                    step1
                    <app-checkout-address [myCheckoutForm]="checkoutForm"></app-checkout-address>
                    <!-- and there is no route for those checkout components (checkout-address, checkout-delivery, checkout-review, checkout-payment)
                    in app-routing.component.ts since we do not want the user to browse directly to those components,
                    and we want them to be controller directly by the stepper-->
                    <!--
                     //we have a parent component checkout.component.ts, in it we have the parent property checkoutForm: FormGroup.
                     //we have this child component checkout-address.component.ts, in it we have the child property myCheckoutForm: FormGroup 
                     //in checkout.component.html we will pass the parent property checkoutForm -> to the child property myCheckoutForm so that data in
                     //checkout-address.component.ts are filled.
                    -->
                </cdk-step>
                <cdk-step [label]="'Delivery'" [completed]="(checkoutForm.get('deliveryForm')).valid">
                     step2
                     <app-checkout-delivery [myCheckoutForm]="checkoutForm"></app-checkout-delivery> <!-- same notes as above -->
                </cdk-step>
                <cdk-step [label]="'Review'">     
                     step3
                     <app-checkout-review [appStepper]="MyAppStepper"></app-checkout-review><!-- there is no form for this, just re display the basket in redis items-->  
                     <!-- pass the above #MyAppStepper to the "@Input appStepper" property in checkout-revire.component.ts
                     so we can control moving to the next step when only the creation of the PaymentIntent is successfull-->
                </cdk-step>
                <cdk-step [label]="'Payment'">
                     step4
                     <app-checkout-payment [myCheckoutForm]="checkoutForm"></app-checkout-payment>           
                </cdk-step>
            </app-stepper>
        </div>
        <div class="col-4">
            <!-- display the same summary we display in the basket, which is from shared/components/order-totals.component-->
            <app-order-totals></app-order-totals>
        </div>
    </div>
</div>
