<div class="container">
    <div class="row">
        <!-- Side lists -->
        <section class="col-3">
            <h5 class="tex-warning ml3">Sort</h5>
            <select class="custom-select mb-3" (change)="OnSortSelected($event.target.value)">
                <option *ngFor="let item of sortOptions"
                        [value]="item.value"
                >
                {{item.name}}
            </option>
            <!-- give the entire select list a change event, so when its selected option changes, call the OnSortSelected function to bring the new sorted list -->
            <!-- $event.target.value will read the selected value-->
            <!-- *ngFor is a for each loop to loop on the available sort options written in the sortOptions in shop.component.ts to generate for each one an <option> tag-->
            <!-- the value in item.value came from the value field in the sortOptions in shop.component.ts -->
            <!-- the name in item.name came from the name field in the sortOptions in shop.component.ts -->
            </select>
            <h5 class="text-warning ml-3">Brands</h5>
            <ul class="list-group my-3"> <!-- my is margin on y axis -->
                <li class="list-group-item" 
                    *ngFor="let item of brands"
                    [class.active]="item.id === this.shopParams.brandId"
                    [value]="item.id"
                    (click)="OnBrandSelected(item.id)"
                >
                {{item.name}}
                </li>
                <!-- *ngFor is like a forEach loop, so for each item in the brands list, generate an <li> -->
                <!-- brands is the property from  shop.component.ts-->
                <!-- we are not using a child/parent components concept like how we did it in products below -->
                <!-- the expression [class.active]="item.id === this..shopParams.brandId" means, give this <li> the class="active" (which will highlight it with blue color) if the item.id eequals the .shopParams.brandId in the shop.component.ts-->
                <!-- by default, active class will highlight using blue color, but I overrided that in shop.component.scss -->
                <!-- give this <li> a click event, so once clicked, call the function OnBrandSelected from the shop.component.ts to bring a list of products filtered on this item (barnd) Id-->
                <!-- the id in item.id came from the "brand" model in the models folder-->
            </ul>
            <h5 class="text-warning ml-3">Types</h5>
            <ul class="list-group my-3">
                <li class="list-group-item" 
                    *ngFor="let item of types"
                    [class.active]="item.id === this.shopParams.typeId"
                    [value]="item.id"
                    (click)="OnTypeSelected(item.id)"                   
                >
                {{item.name}}
                </li>
                <!-- types is the property from  shop.component.ts-->
            </ul>
        </section>
        <section class="col-9">
            <div class="d-flex justify-content-between align-items-center pb-2">
                <!-- Header of number of results -->
                <app-paging-header
                [totalCount]="this.totalCount"
                [pageSize]="this.shopParams.pageSize"
                [pageNumber]="this.shopParams.pageNumber"
                >
                <!-- it is component in the shared folder -> components folder, called paging-header-->
                <!-- call it using its selector app-paging-header -->
                <!-- the parameters inside [] are from the paging-heder.component.ts in shared\components folder-->
                <!-- the parametrs on the right with "this" arefrom the shop.component.ts -->
                <!-- like this way, we passed the values from the parent component shop.component.ts to the child component paging-header.component.ts which will pass them to paging-header.component.html-->
                </app-paging-header>

                <!-- Search box-->
                <div class="form-inline mt-2">
                    <!-- we will not use Angular Forms here, we will use something different -->
                    <!-- add "template refrence variable" to this input, using the #, and call it search -->
                    <input (keyup.enter)="onSearch()" class="form-control mr-2" #search style="width: 300px" placeholder="Search" type="text">
                    <button (click)="onSearch()" class="btn btn-outline-primary my-2">Search</button>
                    <button (click)="onReset()" class="btn btn-outline-success ml-2 my-2">Reset</button>
                    <!-- to search, we can click on search button, or press enter (keyup event) and the onSearch method will be called-->
                </div>    
            </div>
            <!-- products -->
            <div class="row">
                <div class="col-4 mb-4" *ngFor="let item of products">
                  <app-product-item [product]="item"></app-product-item>
                </div>
                <!-- *ngFor is like a forEach loop -->
                <!-- [product] is the @Input property from  product-item.component.ts-->
                <!-- products is the property from  shop.component.ts -->
                <!-- and that is how we linked and passed the data from the parent (shop.component.ts)-> child component (product-item.component.ts)-->
                <!-- https://zeroesandones.medium.com/how-to-pass-data-from-parent-to-child-component-in-angular-9-dc7a0a64256c-->
            </div>
            <!-- Pages numbers, next and back buttons -->
            <div class="d-flex justify-content-center" *ngIf="totalCount > 0"> <!-- those classes and div to center this pagination part--> <!-- when the filter returns 0 product, hide the pagination area -->
                <app-pager
                [pageSize]="this.shopParams.pageSize"
                [totalCount]="this.totalCount"
                (pageChanged)="onPageChanged($event)"
                >
                </app-pager>
                <!-- the pagination html code is written in pager.component.html in shared/components folder -->
                <!-- we caledd that component using its selector app-pager -->
                <!-- inside that component, we used a pagination html tag which is from ngx-bootstrap library imported in shared.module.ts which is imported in shop.module.ts-->
                <!-- assign pageChanged event which is designed by ngx-bootstrap, and happens when the user click on a page number or next or previous or ... -->
                <!-- once this event is triggered, 
                    there should be an interaction between:
                    onPageChanged method in here in shop.component.ts,
                    tonPagerChange method in pager.component.ts,
                    but I did not understand how !!-->
                <!-- what is inside [] is in pager.component.ts in shared/components folder -->
                <!-- the parameters with "this" are in shop.component.ts -->
            </div>
        </section>
    </div>
</div>
