<div class="container">
    <div class="row">
        <!-- Side lists -->
        <section class="col-3">
            <h5 class="tex-warning ml3">Sort</h5>
            <select class="custom-select mb-3">
                <option>Alphabetical</option>
                <option>Price: Low To High</option>
                <option>Price: Hight to low</option>
            </select>
            <h5 class="text-warning ml-3">Brands</h5>
            <ul class="list-group my-3"> <!-- my is margin on y axis -->
                <li class="list-group-item" 
                    *ngFor="let item of brands"
                    [class.active]="item.id === this.brandIdSelected"
                    [value]="item.id"
                    (click)="OnBrandSelected(item.id)"
                >
                {{item.name}}
                </li>
                <!-- *ngFor is like a forEach loop, so for each item in the brands list, generate an <li> -->
                <!-- brands is the property from  shop.component.ts-->
                <!-- we are not using a child/parent components concept like how we did it in products below -->
                <!-- the expression [class.active]="item.id === this.brandIdSelected" means, give this <li> the class="active" (which will highlight it with blue color) if the item.id eequals the brandIdSelected in the shop.component.ts-->
                <!-- give this <li> a click event, so once clicked, call the function OnBrandSelected from the shop.component.ts to bring a list of products filtered on this item (barnd) Id-->
            </ul>
            <h5 class="text-warning ml-3">Types</h5>
            <ul class="list-group my-3">
                <li class="list-group-item" 
                    *ngFor="let item of types"
                    [class.active]="item.id === this.typeIdSelected"
                    [value]="item.id"
                    (click)="OnTypeSelected(item.id)"                   
                >
                {{item.name}}
                </li>
                <!-- types is the property from  shop.component.ts-->
            </ul>
        </section>
        <section class="col-9">
            <div class="d-flex justify-content-between align-items-center pb-2">
                <!-- Header os number of results -->
                <header><span>Showing <strong>10</strong> of <strong>16</strong> Results</span></header>
                <!-- Search box-->
                <div class="form-inline mt-2">
                    <input class="form-control mr-2" style="width: 300px" placeholder="Search" type="text">
                    <button class="btn btn-outline-primary my-2">Search</button>
                    <button class="btn btn-outline-success ml-2 my-2">Reset</button>
                </div>    
            </div>
            <!-- products -->
            <div class="row">
                <div class="col-4 mb-4" *ngFor="let item of products">
                  <app-product-item [product]="item"></app-product-item>
                </div>
                <!-- *ngFor is like a forEach loop -->
                <!-- [product] is the @Input property from  product-item.component.ts-->
                <!-- products is the property from  shop.component.ts -->
                <!-- and that is how we linked and passed the data from the parent (shop.component.ts)-> child component (product-item.component.ts)-->
                <!-- https://zeroesandones.medium.com/how-to-pass-data-from-parent-to-child-component-in-angular-9-dc7a0a64256c-->
            </div>
        </section>
    </div>
</div>
