
<div class="d-flex flex-column flex-md-row align-items-center justify-content-between p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm fixed-top">
  <img src="/assets/images/logo.png" style="max-height: 70px;" class="logo" alt="logo" routerLink="/">
  <!-- the class="logo" is in the nav-bar.component.scss-->
  <nav class="my-2 my-md-0 mr-md-3 text-uppercase" style="font-size: larger;">
    <a class="p-2" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
    <a class="p-2" routerLink="/shop" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Shop</a>
    <!-- routerLink is to go to https://localhost:4200/ to open the home.component.html, and this uses the routes in app-routing.component.ts-->
    <!-- we can write [router-link]="['/']" or router-link="/" to take us to the hompe page-->
    <!-- apply the bootstrap class active when this link is clicked-->
    <!-- in nav-bar.component.scss there are style for the <a> element in activa and not active state -->
    <!-- without [routerLinkActiveOptions]="{exact: true} the <a> will keep having the class "active" applied for ever once it is clicked, so apply the routerLinkActive only when we are in the page of the exactl link  -->
    <a class="p-2 text-dark" href="#">Contact</a>
    <a class="p-2 text-dark" routerLink="/test-errors">Errors</a>
    <!-- this button is to take us to the test-errors component which is for testing-->
  </nav>
  <div class="d-flex align-items-center">
    <a class="position-relative">
      <!--<img src="/assets/images/cart.png" style="max-height: 40px; margin-right: 40px;"  alt="logo">-->
      <!-- instead of the image above, we can use fontawesome icon -->
      <i class="fa fa-shopping-cart fa-2x mr-5 text-dark"></i>
      <div class="cart-no">5</div>
      <!-- this cart-no has an additional styling in the nav-bar.component.scss-->
    </a>
    <a class="btn btn-outline-secondary mr-2">Login</a>
    <a class="btn btn-outline-secondary mr-3">Sign up</a>
  </div>
  
</div>

<!-- assets folder is created by angular by default so use it like above-->
<!-- bootstrap heavily uses the flexbox tech in css, you can test it in https://flexboxfroggy.com/-->
<!-- justify-content-between to justify distnces between objects in nav-bar-->
<!-- fixed-top to keep the nav-bar sticky above -->
<!-- mr means margin right-->
<!-- fa is the font awesome library where we can get icons -->
<!-- Doc: https://getbootstrap.com/docs/5.0/getting-started/introduction/ -->















